* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box; 
}

/* Links */
a {
    text-decoration: none;
    color: #fff; 
}

/* Listas */
ul {
    list-style: none; 
}

/* Imagens */
img {
    max-width: 100%; 
    height: auto; 
}
